@font-face {
  font-family: DMSans-Regular;
  src: url('./assets/fonts/DMSans-Regular.ttf') format('woff2');
}

@font-face {
  font-family: DMSans-Medium;
  src: url('./assets/fonts/DMSans-Medium.ttf') format('woff2');
}

@font-face {
  font-family: DMSans-Bold;
  src: url('./assets/fonts/DMSans-Bold.ttf') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

hr {
  border: none;
}

body {
  background-image: url(./assets/shared/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main {
  padding-top: 50px;
  width: 100%;
}

.main .grid {
  max-width: 1440px;
  margin: 0 auto;
}

.main .grid header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 0 8%;
  background-color: white;
}

nav {
  margin: 0 15px;
  z-index: 2;
}

nav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

nav ul li {
  cursor: pointer;
  font-family: 'DMSans-Bold';
}

nav ul li:nth-child(2) {
  margin: 0 35px;
}

nav ul li a {
  color: black;
  letter-spacing: 2px;
}

nav ul li a:hover {
  opacity: 50%;
}

.hr {
  margin-top: 30px;
  width: 100%;
  height: 1px;
  background-color: #000000;
  opacity: 50%;
}

nav ul button {
  margin-top: 30px;
  display: none;
}

nav ul button:hover {
  color: black;
  background-color: #DFDFDF;
  transition: 0.4s;
}

.is-active {
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 40px;
}

.burger-menu-btn {
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  font-family: 'DMSans-Bold';
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.nav-btn {
  width: 158px;
  height: 40px;
  background-color: black;
  color: white;
  font-family: 'DMSans-Bold';
  letter-spacing: 2px;
}

.nav-btn:hover {
  background-color: #DFDFDF;
  color: black;
  transition: 0.4s;
}

.burger-menu-icon {
  display: none;
  cursor: pointer;
}

.burger-menu-icon>* {
  display: block;
  width: 20px;
  height: 1px;
  background-color: black;
  margin-top: 4px;
}


/* ქლიქის დროს ბურგერ მენიუს აიქონი იცვლება */

.rotateX {
  transition: 0.2s;
  position: absolute;
  transform: rotate(45deg);
}

.rotateY {
  transition: 0.2s;
  position: relative;
  transform: rotate(-45deg);
}


/* footer */

footer {
  display: flex;
  background-color: black;
  justify-content: space-around;
  align-items: center;
  min-height: 250px;
  color: white;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 250px;
  font-family: 'DMSans-Regular';
}

.section div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section p {
  opacity: 50%;
}

a {
  display: inline-block;
  color: white;
  margin-right: 10px;
}


/* after hover linie animation */

a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #f8f6f6;
  transition: width .3s;
}

a:hover::after {
  width: 100%;
}


/*social media svg icons*/

.icon-group {
  display: flex;
  justify-content: space-around;
  width: 170px;
  background-color: black;
}

.icon-group>* {
  filter: brightness(1000%);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.icon-group>*:hover {
  filter: none;
  cursor: pointer;
}

.fb {
  background-image: url("./assets/shared/desktop/facebook.svg");
}

.you {
  background-image: url("./assets/shared/desktop/youtube.svg");
}

.twi {
  background-image: url("./assets/shared/desktop/twitter.svg");
}

.pin {
  background-image: url("./assets/shared/desktop/pinterest.svg");
}

.ins {
  background-image: url("./assets/shared/desktop/instagram.svg");
}