@media screen and (max-width: 1000px) {
    body {
        background-image: none;
    }

    .main {
        padding-top: 0px
    }

    header {
        padding: 0 4%;
    }

    .features-box {
        flex-direction: column;
    }

    .card {
        width: 50%;
    }

    .info-container>.item {
        flex: 1 1 50%;
    }

    .top-left {
        position: absolute;
        top: 2%;
        left: 30%;
        width: 250px;
    }

    .top-right {
        position: absolute;
        top: 50%;
        right: 35%
    }
}

@media screen and (max-width: 700px) {
    nav {
        display: none;
        top: 75px;
        background-color: white;
    }

    nav ul {
        display: block;
    }

    nav ul li:nth-child(2) {
        margin: 20px 0px
    }

    .burger-menu-btn {
        display: block !important;
    }

    .nav-btn {
        display: none;
    }

    .burger-menu-icon {
        display: block;
    }

    footer {
        align-items: center;
        flex-direction: column;
    }

    .section {
        justify-content: space-evenly;
    }

    .info-container>.item {
        flex: 1 1 100%;
    }

    @media screen and (max-width: 420px) {
        .card {
            width: 100%;
            height: auto;
        }

        .card img {
            min-height: 100%;
            height: 375px;
            object-fit: cover;
        }

        .bener-text {
            padding: 20px 30px;
            position: static;
            height: 500px;
            min-width: 100%;
            background-color: black;
        }

        .bener-text h1 {
            font-size: 30px;
        }

        .baner-img {
            width: 100%;
            min-height: 310px;
        }

        .row {
            flex-direction: column;
        }

        .small {
            order: 1;
            width: 100%;
        }

        .double {
            width: 100%
        }

        #content {
            display: flex;
            flex-direction: column;
        }

        .img {
            width: 100%;
            height: auto;
        }

        .gradient-border:before {
            left: 30px;
            top: 0;
            border-image: linear-gradient(26.57deg, #ffc593 50%, #bc7198 53.29%, #5a77ff 93.33%) 1;
            border-left: none;
            border-right: none;
            border-bottom: none;
            width: 50%;
        }
    }
}