.table-tab {
  display: none;
}
.th {
  white-space: nowrap;
  text-align: start;
}
.mob-table {
  table-layout: fixed;
  width: 70%;
}

.th td {
  width: 33.33%;
  text-align: center;
}

tbody .tr:first-of-type .th {
  padding-top: 23px;
}

tbody .tr:not(:first-of-type) .th {
  padding-top: 16px;
}

tbody td {
  padding: 8px 0;
}
.th-th {
  border-bottom: 1px solid #000000;
  padding: 23px 0;
}

td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
#th-main {
  font-family: DMSans-Regular;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #000000;
  opacity: 1;
}
.th {
  font-family: DMSans-Regular;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 1.66667px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.main-box {
  display: flex;
  flex-direction: column;
  gap: 64px;
  background-color: white;
}

.hero-mob {
  width: 100%;
}
.hero-tab {
  display: none;
}
.hero-desk {
  display: none;
}

.hero-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.pricing {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  height: 300px;
  background-color: black;
  padding: 0 5%;
  gap: 16px;
}
.pricing h1 {
  font-family: DMSans-Bold;
  line-height: 40px;
  letter-spacing: 3.3px;
  color: #ffffff;
}
.pricing p {
  font-family: DMSans-Regular;
  line-height: 25px;

  color: #ffffff;
  opacity: 0.6;
}
.top-line {
  position: absolute;
  width: 128px;
  height: 6px;
  top: 0;
  left: 5%;
  background: linear-gradient(
    2.57deg,
    #ffc593 0%,
    #bc7198 43.29%,
    #5a77ff 83.33%
  );
}
.range-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.year-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.monthly {
  font-family: 'DMSans-Bold';
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: #000000;
}

.pro-line {
  position: absolute;
  background: linear-gradient(
    26.57deg,
    #ffc593 0%,
    #bc7198 43.29%,
    #5a77ff 83.33%
  );
  top: 0;
  width: 100%;
  height: 6px;
}

.year {
  mix-blend-mode: normal;
  opacity: 0.5;
}

input[type="range"] {
  width: 64px;
  height: 32px;
  appearance: none;
  -webkit-transition: 0.8s;
  transition: opacity 0.8s;
  background: #dfdfdf;
  border-radius: 16px;
  padding-left: 5px;
  padding-right: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  background: #000000;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 5% 10%;
}

.first-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f5f5f5;
  width: 100%;
  height: 407px;
  position: relative;
}

.sec-box {
  background: #000000;
  color: #ffffff;
}

.text {
  font-family: 'DMSans-Regular';
  opacity: 0.6;
}

h2 {
  font-family: 'DMSans-Bold';
  line-height: 25px;
}

.basic {
  text-align: center;
  width: 80%;
}

.price {
  font-family: DMSans-Bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 4.16667px;
  text-transform: uppercase;
}

.month {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.per {
  font-family: DMSans-Regular;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.btn {
  width: 245px;
  height: 40px;
  background: #000000;
  font-family: 'DMSans-Bold';
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
}

.btn-box {
  background: #ffffff;
  color: #000000;
}

.beta-box {
  background-image: url(../../assets/shared/mobile/bg-beta.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  gap: 24px;
  height: 280px;
  padding: 0 10%;
}

.bot-line {
  position: absolute;
  top: 0;
  width: 128px;
  height: 6px;
  background: linear-gradient(26.57deg, #ffc593 0%, #bc7198 43.29%, #5a77ff 83.33%);
}

.beta-box h1 {
  font-family: DMSans-Bold;
  line-height: 40px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #ffffff;
}

.beta-box p {
  font-family: 'DMSans-Regular';
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
  color: #ffffff;
  align-items: center;
  display: flex;
  gap: 16px;
}

.arrow {
  filter: brightness(0) invert(1);
}
.compar {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.compar h1 {
  font-family: DMSans-Bold;
  letter-spacing: 4.1px;
  color: #000000;
}

@media (min-width: 768px) {
  .main-box {
    gap: 112px;
  }
  .hero-mob {
    display: none;
  }
  .hero-tab {
    display: block;
  }
  .hero-box {
    flex-direction: row-reverse;
    height: 100%;
  }
  .pricing {
    height: 490px;
    gap: 21px;
    padding: 0 7%;
  }
  .pricing h1 {
    font-size: 40px;
  }
  .top-line {
    width: 6px;
    height: 144px;
    left: 0;
    top: 35%;
  }
  .first-box {
    height: 270px;
    text-align: start;
    align-items: start;
    padding-left: 30px;
  }

  .month {
    position: absolute;
    align-items: end;
    right: 48px;
    top: 40px;
  }

  .pro-line {
    width: 6px;
    left: 0;
    height: 100%;
  }

  .basic {
    text-align: start;
    width: 42%;
  }

  .beta-box {
    background-image: url(../../assets/shared/tablet/bg-beta.jpg);
    background-repeat: no-repeat;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 17% 0 10%;
  }

  .bot-line {
    width: 6px;
    height: 280px;
    left: 0;
  }

  .beta-box h1 {
    font-size: 35px;
    width: 66%;
  }
  .mob-table {
    display: none;
  }
  .table-tab {
    display: block;
  }

  .table-tab {
    border-collapse: collapse;
    margin-top: 5%;
  }
  .table-tab tr:first-child {
    border-bottom: 1px solid #000000 !important;
  }

  tr {
    border-bottom: 1px solid #dfdfdf;

    color: #000000;
  }
  th {
    padding: 22px;
    font-family: DMSans-Regular;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
  }
  th:first-of-type {
    text-align: start;
  }
}

@media (min-width: 1440px) {
  .main-box {
    gap: 160px;
  }
  .hero-tab {
    display: none;
  }
  .hero-desk {
    display: block;
  }
  section {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  .first-box {
    height: 407px;
    text-align: center;
    align-items: center;
    padding: 0;
  }

  .month {
    position: initial;
    align-items: center;
  }

  .basic {
    text-align: center;
    width: 80%;
  }

  .beta-box {
    background-image: url(../../assets/shared/desktop/bg-beta.jpg);
    justify-content: space-around;
    gap: 20%;
    padding: 0 16% 0 13%;
  }

  .beta-box h1 {
    font-size: 40px;
    width: 40%;
  }
  .sec-box {
    height: 470px;
    padding: 3% 0;
    position: relative;
  }
  .pro-line {
    top: 0;
    width: 100%;
    height: 6px;
  }
}
